/***** PAGE BODY *****/
body {
    font-family: helvetica, sans-serif;
    color: #555753;
    background-color: #f8f8fa;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 3px #e5e6eb;
    width: 75%;
    border: 5px #c0c2ce solid;
    border-radius: 25px;
    padding: 10px;
}
ol {
    list-style-type: circle;
}

/***** NAVIGATION *****/
ul li {
    display: inline-block;
    margin-right: 10px;
    background-color: rgba(179,236,236,.5);
    height: 1em;
    line-height: 1.3em;
    width: 6em;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}

/***** HEADERS *****/
h1 {
    font-family: 'Damion', cursive;
    font-size: 4em;
    color: #FFC0CB;
    text-shadow: 2px 2px #555753;
    padding: 0;
    margin: 0;
}
h2 {
    font-weight: bold;
    line-height: 2em;
    color: #3078A8;
}
h3 {
    font-style: italic;
    color: #D86048;
}

/***** LINKS *****/
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #3078A8;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #3078cc;
}
a:hover {
    text-decoration: underline;
}
a:active {
    background-color: #b3ecec;
}



